# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# OS
Thumbs.db
Desktop.ini

# Project Specific
*.rar
old/
simulation/
